name: Release Build

on:
  push:
    branches: [ develop ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Setup .NET Core 5.
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101
    - name: Restore packages.
      run: dotnet restore
    - name: Build all projects.
      run: dotnet build --configuration Release --no-restore
    - name: Publish for OSX
      run: dotnet publish -c release -r osx-x64
      working-directory: ./src/StreetScan.Planner/
    - name: Publish for Windows
      run: dotnet publish -c release -r win-x64
      working-directory: ./src/StreetScan.Planner/
    - name: Publish for Linux
      run: dotnet publish -c release -r linux-64
      working-directory: ./src/StreetScan.Planner/